.gallery-image{
    width: 20vw;
    margin: 5px;
    cursor: zoom-in;
}
@media (max-width: 768px) {
    /* For Medium Devices */
    .gallery-image {
        width: 40vw; /* Adjust width as needed */
    }
}

@media (max-width: 480px) {
    /* For Smaller Devices */
    .gallery-image {
        width: 90vw; /* Adjust width as needed */
    }
}