.photo{
    height: 50vh;
}
.game-dev{
    background-image: url("../../Images/gamedev.jpg");
    background-size: cover;
    background-position-x: center;
    transition: background-size 2s ease-in;
}
.web-dev{
    background-image: url("../../Images/webdev.jpg");
    background-size: cover;
    background-position: center;
    transition: background-size 2s ease-in;
}
.web-dev:hover {
    background-size: 105%;
}
.game-dev:hover{
    background-size: 105%;
}
.text-glass{
    /* From https://css.glass */
    background: rgba(1, 23, 6, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(7, 253, 167, 0.3);
}
.tech-icon{
    width: 50px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.tech-icon:hover{
    transform: scale(1.3);
}
.link-ico{
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}
.link-ico:hover{
    transform: scale(1.4);
}
.graphic-design{
    background-image: url("../../Images/graphic design.jpg");
    background-size: cover;
    background-position: center;
    transition: background-size 2s ease-in;
}
.graphic-design:hover {
    background-size: 105%;
}
.modeling{
    background-image: url("../../Images/3d modeling.jpg");
    background-size: cover;
    background-position-x: center;
    transition: background-size 2s ease-in;
}
.modeling:hover {
    background-size: 105%;
}
.vid-edit{
    background-image: url("../../Images/video editing.jpg");
    background-size: cover;
    background-position-x: center;
    transition: background-size 2s ease-in;
}
.vid-edit:hover {
    background-size: 105%;
}
.hover-hand {
    cursor: pointer;
}