.blue-shape {
    float: right;
    height: 100vh;
    z-index: -1;
}
.photo{
    height: 50vh;
    /*background-image: url("Images/photoFrame.svg");*/
    /*background-size: cover;*/
}
.blue{
    color: #00ADFF;
}
.home-bg{
    background-image: url("./Images/blueShape.svg");
    background-repeat: no-repeat;
    background-position: right center;
    height: 100vh;
}
.glass{
    /* From https://css.glass */
    background: rgba(2, 70, 16, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(7, 253, 167, 0.3);
}
.btn-main{
    border: 1px solid rgba(0, 173, 255, 0.57);
    padding : 10px;
}
.btn-main:hover{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
}
.link-ico{
    width: 30px;
    height: 30px;
    border-radius: 16px;
    align-content: center;
    justify-content: center;
    padding: 5px;
}
.link-ico:hover{
    -webkit-box-shadow:0px 0px 105px 45px rgb(22, 197, 227);
    -moz-box-shadow: 0px 0px 105px 45px rgb(22, 197, 227);
    box-shadow: 0px 0px 105px 45px rgb(22, 197, 227);
}
.parallax-img{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.parallax-layer-bg{
    background: radial-gradient(circle, rgba(63,136,196,1) 0%, rgba(48,119,177,1) 35%, rgba(4,48,57,1) 100%);
}
.parallax-layer-0{
    background-image: url("./Images/Wallpaper/trees-b-2.png");
}
.parallax-layer-1{
    background-image: url("./Images/Wallpaper/trees-b-1.png");
}
.parallax-layer-2{
    background-image: url("./Images/Wallpaper/trees-b-0.png");
}
.parallax-layer-3{
    background-image: url("./Images/Wallpaper/mountain.png");
}
.parallax-layer-4{
    background-image: url("./Images/Wallpaper/mist.png");
    opacity: 0.4;
}
.nav-bar{
    z-index: 10;
}
.parallax-text{
    background-image: url("./Images/Wallpaper/tree-tile.png");
    background-repeat: repeat-x;
}
.text-matrix{
    background: #09c6e7;
    background: linear-gradient(to right, #09c6e7 0%, #24eabc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    font-weight: bolder;
}
.text-skill{
    background: #1DEE2D;
    background: linear-gradient(to right, #1DEE2D 0%, #09C6E7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    font-weight: bolder;
}
.hero-glass{
    /* From https://css.glass */
    background: rgba(1, 23, 6, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(7, 253, 167, 0.3);
}